body {font-family: "Lato", sans-serif;color: #777;text-align: center;}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {width: 100%;padding: 12px;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;margin-top: 6px;margin-bottom: 16px;resize: vertical;}
input[type=submit] {background-color: #4c82af;color: white;padding: 12px 20px;border: none;border-radius: 4px;cursor: pointer;}
input[type=submit]:hover {background-color: #4c82af;}

.container {border-radius: 5px;background-color: #f2f2f2;padding: 20px;}

.dropbtn{background-color:#fff;color:#777;padding:14px;font-size:17px;border:none}
.dropdown,.dropdown-submenu{position:relative;display:inline-block}
.dropdown-content,.dropdown-submenu-content{display:none;position:absolute;background-color:#fff;min-width:100px;box-shadow:0 8px 16px 0 rgba(0,0,0,.2);z-index:1}
.dropdown-content a,.dropdown-submenu-content a{color:#000;padding:12px 16px;display:block}
.dropdown-content a:hover,.dropdown-submenu-content a:hover{background-color:#ddd}
.dropdown-submenu:hover .dropdown-submenu-content,.dropdown:hover .dropdown-content{display:block}
.dropdown:hover .dropbtn{background-color:#ddd}
.dropdown-submenu{position:relative}
.dropdown-submenu-content{left:100%;top:0;min-width:100px;white-space:nowrap}
.dropdown-submenu:hover .dropdown-submenu-content{display:inline-block}
